@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*{
  padding: 0;
  margin: 0;
}

body {
    color: #2D3A1F;
    background-color: #F4F1E8;
}

h1 {
    font-family: 'Fraunces', sans-serif;
    margin-bottom: 20px;
}

p {
    font-family: 'Sora', sans-serif;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.verticalDiv {
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
    .verticalDiv {
        flex-direction: column;
        gap: 30px;
    }

    p{
      text-align: center;
    }
    
    h1{
      text-align: center;
    }

    a{
      align-self: center;
      justify-self: center;
    }
}